<h3>users works!</h3>
<hr>

<h4>User</h4>
<p>
    <strong>Id: </strong>{{user.id}}
</p>
<p>
    <strong>name: </strong>{{user.name}}
</p>

<button (click)="onGotoCategories()" class="btn btn-primary">Go to Categories</button>

<button [routerLink]="['/users', 1, 'Valp']" [queryParams]="{ page: 1, search: 'Valp' }" [fragment]="'loading'"
class="btn mx-3 btn-success">Get Valp Detail</button>

<button (click)="onGetAnotherUserDetails()" class="btn btn-warning">Get another user details</button>   

<div class="my-4">
    <router-outlet></router-outlet>
</div>